#signupSection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-primary);
}

/* Container que guarda a imagem e o form  */
#signupContainer {
    display: flex;
    max-width: 1414px;
    width: 100%;
    height: 744px;
    background-color: transparent;
    border: 3px solid var(--clr-secondary);
    margin-top: 80px;
    margin-bottom: 150px;
    border-radius: 10px;
    margin-inline: 20px;
}

#backgroundImage {
    height: 100%;
    width: 45%;
    background-color: var(--clr-secondary);
}

#signupImg {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    margin-top: -30px;
    margin-left: -70px;
}

#rightContainer {
    width: 55%;
}

#rightContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}