@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    scroll-padding: 100px;
}

:root {
    --clr-primary: #2B2B2B;
    --clr-secondary: #EA6507;
    --clr-header: #252525;
    --clr-accent-white: #FFFFFF;
    --clr-accent-black: #000000;
    --clr-accent-green: #1F9050;
    --clr-accent-red: #FF3900;
    --clr-accent-gray: #3E3E3E;
    --clr-accent-darkorange: #A94600;
    --font-primary: 'Roboto Slab'
}

html {
    font-size: 10px;
    font-family: var(--font-primary);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-header);
    height: 100px;
    box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 9999;
}

header #logoName {
    max-width: 100%;
}

header #menuBars {
    display: none;
}

#menuMobile {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-primary);
    position: absolute;
    left: 0;
    margin-top: 570px;
    display: block;
    width: 50%;
    z-index: 0;
    margin-left: -50%;
}

#menuMobile a {
    color: var(--clr-secondary);
    text-decoration: none;
}

#upperHeader {
    max-width: 1420px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header #search {
    display: flex;
    max-width: 650px;
    width: 100%;
    justify-content: center;
}

#search form {
    max-width: 610px;
    width: 80%;
}

#search #searchButton {
    max-width: 40px;
    width: 100%;
    height: 40px;
    background-color: var(--clr-accent-white);
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    transition: .2s;
}

#search #searchButton:hover {
    background-color: var(--clr-secondary);
    color: var(--clr-accent-white);
}

#search #searchButton i {
    font-size: 1.5rem;
}

header #searchInput {
    width: 100%;
    display: flex;
    height: 40px;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 1.6rem;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

header #iconsHeader {
    display: flex;
    width: 160px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#upperHeader #chageThemeButton {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    color: var(--clr-accent-white);
    font-size: 3rem;
    cursor: pointer;
}

#userMenu {
    width: 40px;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#upperHeader #userImage {
    display: flex;
    align-items: center;
}

#upperHeader #userImage img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

#profileInfos {
    min-height: 40px;
    width: 160px;
    background-color: var(--clr-primary);
    color: var(--clr-accent-white);
    font-size: 1.4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
    position: absolute;
    z-index: 1;
    display: none;
}

#profileInfos a{
    text-decoration: none;
    color: var(--clr-accent-white);
    font-size: 1.4rem;
}

#profileInfos hr {
    color: var(--clr-secondary);
    width: 80%;
    margin-inline: 16px;
}

#upperHeader #shoppingCart {
    display: flex;
    justify-content: flex-end;
}

#upperHeader #shoppingCart a {
    width: 40px;
    height: 40px;
}

#upperHeader #shoppingCart div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--clr-accent-white);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-secondary);
    
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    margin-top: 10px;
}

#upperHeader #shoppingCart a i {
    font-size: 3rem;
    color: var(--clr-secondary);
    position: relative;
    margin-top: 5px;
}

#lowerHeader {
    display: flex;
    align-items: center;
    width: 1170px;
    height: 25px;
    background-color: var(--clr-secondary);
    border-top: 1px solid var(--clr-accent-white);
    position: absolute;
    margin-top: 80px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#lowerHeader div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lowerHeader div p, #lowerHeader a{
    width: 130px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-accent-white);
    font-weight: bold;
    font-size: 1.4rem;
    text-decoration: none;
}

#lowerHeader a {
    height: 100%;
}

#lowerHeader div:hover {
    background-color: var(--clr-accent-darkorange);
}

#lowerHeader .navbar {
    border-left: 0.5px solid var(--clr-accent-white);
}

footer {
    background-color: var(--clr-secondary);
}

#upperFooter {
    margin-inline: 250px;
    min-height: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#upperFooter button {
    display: none;
}

#upperFooter #topicsFooter {
    width: 100%;
    margin-block: 50px;
    display: flex;
    justify-content: space-between;
    
    color: var(--clr-accent-white);
}

#upperFooter #topicsFooter h1, p, a {
    margin-block: 15px;
}

#upperFooter #topicsFooter h1{
    font-size: 3rem;
    font-weight: bold;
}

#upperFooter #topicsFooter p, a{
    font-size: 1.6rem;
}

#upperFooter #topicsFooter p i{
    color: #00bdae;
}

#upperFooter #topicsFooter a{
    text-decoration: none;
    color: var(--clr-accent-white);
}

#upperFooter hr {
    width: 100%;
    color: var(--clr-accent-white);
}

#upperFooter a {
    width: 75px;
    margin-block: 25px;
}

#lowerFooter {
    height: 25px;
    background-color: var(--clr-accent-darkorange);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    
    color: var(--clr-accent-white);
}



@media screen and (max-width: 1180px)  {
    header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-inline: 15px;
        height: 80px;
    }

    header #logoName {
        display: none;
    } 

    header #menuBars {
        display: block;
        background-color: transparent;
        border: none;
        color: var(--clr-secondary);
        font-size: 3rem;
        cursor: pointer;
    }

    #upperHeader {
        padding-top: 0px;
    }

    #upperHeader #chageThemeButton, #userImage, #userImage img{
        display: none;
    }

    header #iconsHeader {
        width: 40px;
    }

    header #lowerHeader {
        display: none;
    }

    #upperFooter {
        margin-inline: 15px;
    }

    #upperHeader #userImageMobile {
        display: flex;
        align-items: center;
    }
    
    #upperHeader #userImageMobile img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }

    #upperFooter #topicsFooter {
        flex-direction: column;
    }

    #upperFooter #topicsFooter button {
        display: block;
        background-color: transparent;
        border: none;
        color: var(--clr-accent-white);
        font-size: 2rem;
    }

    #topicsFooter div {
        display: flex;
        justify-content: space-between;
    }

    #upperFooter #topicsFooter h1{
        font-size: 2rem;
        font-weight: bold;
    }

    #topicsFooter p, #topicsFooter a {
        display: none;
    }
}