{% extends "base.html" %}
{% block static %}
    <link rel="stylesheet" href="..\static\css\authPages\styledesktop.css">
    <link rel="stylesheet" href="..\static\css\authPages\stylemobile.css">
{% endblock static %}
{% block content %}
    <section id="signupSection">
        <div id="signupContainer">
            <div id="backgroundImage">
                <img id="signupImg" src="../static/img/authImg/mulherTelaSignup.png" alt="">
            </div>
            <div id="rightContainer">
                <div class="title-signup">
                    <button><i class="fa-solid fa-chevron-left"></i></button>
                    <h1>CRIAR CONTA</h1>
                </div>
                <div class="subtitle-signup">
                    <h2>Pessoa Física</h2>
                    <h3>(*) campos obrigatórios</h3>
                </div>
                <div class="forms-signup">
                    <form id="form-signup" action="signup" method="post">
                        <div class="inputs">
                            <div>
                                <p>Nome *</p>
                                <input type="text" name="name">
                            </div>
                            <div>
                                <p>Sobrenome *</p>
                                <input type="text" name="last-name">
                            </div>

                            <div>
                                <p>CPF *</p>
                                <input type="text" name="username">
                            </div>
                            <div>
                                <p>Email *</p>
                                <input type="email" name="email">
                            </div>
                            <div>
                                <p>Telefone *</p>
                                <input type="text" name="Telephone">
                            </div>
                            <div>
                                <p>Senha *</p>
                                <input class="password" maxlength="16" class="password" maxlength="16" type="password" name="password">
                            </div>
                            <a href="/signin">Já tem uma conta?</a>
                            <button type="submit" id="btn-registrar" value="registrar">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}