<!DOCTYPE html>
<html lang="pt-br"></html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stylebase.css">
    {% block static %}
    {% endblock static%}
    <title>{{title}} | PyTech</title>
</head>
<body id="body">
    <!-- header de todas as paginas -->
    <header>
        <div id="upperHeader">
            <button id="menuBars"><i class="fa-solid fa-bars"></i></button>
            <img id="logoName" src="../static/img/logo/PyTech-nome.png" alt="">
            <div id="search">
                <button id="searchButton"><i class="fa-solid fa-magnifying-glass"></i></button>
                <form action="search">
                    <input placeholder="Procure aqui" id="searchInput" type="text">
                </form>
            </div>
            <div id="iconsHeader">
                <button id="chageThemeButton"><i class="fa-solid fa-moon"></i></button>
                <div id="userMenu">
                    <a href="" id="userImage"><img src="../static/img/playstationLlogo.jpg" alt=""></a>
                    <div id="profileInfos">
                        <p>Entrar / Cadastrar-se</p>
                        <hr>
                        <p class="logado">Meu perfil</p>
                        <hr class="logado"> 
                        <p class="logado">Meus pedidos</p>
                        <hr class="logado"> 
                        <p class="logado">Meu histórico</p>
                        <hr class="logado"> 
                        <p class="logado">Sair</p>
                    </div>
                </div>
                <div id="shoppingCart">
                    <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
                    <div>
                        <p>1</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="lowerHeader">  
            <div class="navbar-corner">
                <p>CELULARES</p>
            </div>
            <div class="navbar">
                <p>COMPUTADORES</p>
            </div>
            <div class="navbar">
                <p>ELETRÔNICOS</p>
            </div>
            <div class="navbar">
                <p>GAMES</p>
            </div>
            <div class="navbar">
                <p>PERIFÉRICOS</p>
            </div>
            <div class="navbar">
                <p>SMART HOME</p>
            </div>
            <div class="navbar">
                <p>SMARTWATCHES</p>
            </div>
            <div class="navbar">
                <p>TABLETS</p>
            </div>
            <div class="navbar">
                <p>TVs</p>
            </div>
        </div>
    </header>

    <!-- espaco onde sera inserido o conteudo de cada pagina utilizando jinja e templates -->
    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <!-- footer de todas as paginas -->
    <footer>
        <div id="upperFooter">
            <div id="topicsFooter">
                <div>
                    <h1>Sobre</h1>
                    <a href="">Quem é a PyTech?</a>
                    <button><i class="fa-solid fa-chevron-down"></i></button>
                </div>
                <div>
                    <h1>Ganhe com a gente</h1>
                    <a href="">Venda na PyTech</a>
                    <a href="">Anuncie seus produtos</a>
                    <button><i class="fa-solid fa-chevron-down"></i></button>
                </div>
                <div>
                    <h1>Pagamento</h1>
                    <p><i class="fa-brands fa-pix"></i> PIX</p>
                    <button><i class="fa-solid fa-chevron-down"></i></button>
                </div>
                <div>
                    <h1>Contato</h1>
                    <p>(XX) XXXXX-XXXX</p>
                    <p>pygreen2023@gmail.com</p>
                    <button><i class="fa-solid fa-chevron-down"></i></button>
                </div>
            </div>
            <hr>
            <a href="#upToStart"><img src="../static/img/logo/PyTech-logo.png" alt=""></a>
        </div>
        <div id="lowerFooter">
            <p>© 2023 PyTech. Todos os direitos reservados</p>
        </div>
    </footer>

    <!-- espaco para adicionarmos os codigos de JavaScript -->
    <script src="https://kit.fontawesome.com/286fab062e.js" crossorigin="anonymous"></script>
    {% block javascript %}
    {% endblock javascript %}
</body>
</html>