{% extends "base.html" %}
{% block static %}
    <link rel="stylesheet" href="..\static\css\homepage\styledesktop.css">
    <link rel="stylesheet" href="..\static\css\homepage\stylemobile.css">
{% endblock static %}
{% block content %}
    <h1>Dicionários</h1>
    <p> {{ produtos }}</p>
    <p> {{ imagens }}</p>
    {% for produto in produtos %}
        {% for imagem in imagens%}
            {% if produto['id_produto'] == imagem['id_produto'] %}
                <li>
                    <img src="{{ imagem.caminho }}" alt="">
                    <strong>ID do Produto:</strong> {{ produto.id_produto }}<br>
                    <strong>Nome do Produto:</strong> {{ produto.nome_produto }}<br>
                    <strong>Preço:</strong> R$ {{ produto.preco }}<br>
                    <strong>Descrição:</strong> {{ produto.descricao }}<br>
                </li>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock content %}