{% extends "base.html" %}
{% block static %}
    <link rel="stylesheet" href="..\static\css\homepage\styledesktop.css">
    <link rel="stylesheet" href="..\static\css\homepage\stylemobile.css">
{% endblock static %}
{% block content %}
    <section class="hero" id="upToStart">
        <img src="../static/img/heroPyTech.png" alt="">
    </section>
    <section class="recents-section">
        <div class="section-heading">
            <i class="fa-regular fa-clock fa-3x section-icon"></i>
            <h1 class="section-title">Adicionados recentemente<span class="orange">.</span></h1>
        </div>
        <div class="cards-container">
            {% if produtos != [] %}
                {% for produto in produtos %}
                    {% for imagem in imagens%}
                        {% if produto['id_produto'] == imagem['id_produto'] %}
                        <div class="card">
                            {% if imagem.caminho != "" %}
                                <div class="img-container"><img class="card-image" src="{{ imagem.caminho }}" alt=""></div>
                            {% else %}
                                <div class="img-container"><img class="card-image" src="../static/img/404.png" alt=""></div>
                            {% endif %}
                                <hr class="card-line">
                                <h1 class="product-name" >{{ produto.nome_produto }}</h1>
                                <h2 class="product-price">R${{ produto.preco }}</h2>
                                <p class="product-description">{{ produto.descricao }}</p>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% else %}
                <h2>Lamentamos, mas não há nenhum produto em nosso catálogo. =(</h2>
            {% endif %}
        </div>
    </section>
{% endblock content %}