{% extends "base.html" %}
{% block static %}
    <link rel="stylesheet" href="..\static\css\shoppingCart\styledesktop.css">
    <link rel="stylesheet" href="..\static\css\shoppingCart\stylemobile.css">
{% endblock static %}
{% block content %}
    <section>
        <div id="products">
            <div class="title">
                <i class="fa-solid fa-cart-shopping"></i>
                <h1>Carrinho de compras</h1>
            </div>
            <div>
                
            </div>
            
            
        </div>

        <div id="totalValues">

        </div>
    </section>
{% endblock content %}